<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Freelance Javascript React D&eacute;veloppeur</title>
  <meta name="theme-color" content="#000000" />
  <link rel="stylesheet" href="/index.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
