<a href="#about" class="menu-about active">
  <span>à propos</span>
</a>
<a href="#savoir-faire" class="menu-savoir-faire">
  <span>savoir-faire</span>
</a>
<a href="#clients" class="menu-clients">
  <span>clients</span>
</a>
